<nav class="navbar">
  <div class="sidemenu">
    <div id="sidemenu-toggle" class="toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="sidemenu-main">
      <div class="sidemenu-left">
        <ul>
          <li><h3><a href="/">Welcome</a></h3></li>
          <li><h3><a href="/background">Background</a></h3></li>
          <li><h3><a href="/work/healify">Case Studies</a></h3></li>
          <li><h3><a href="#writing">Writing</a></h3></li>
        </ul>
        <footer>
          <a href="#" class="sidemenu-logo-link" aria-label="Signal experience">
            <img src="/assets/img/living-interface-lotus.png" alt="" class="sidemenu-logo">
          </a>
        </footer>
      </div>
      <div class="sidemenu-right">
        <div class="sidemenu-overlay"></div>
      </div>
    </div>
  </div>

  <a class="navbar-brand" href="/">Erik Burns</a>
</nav>
